<div class="container">
<div class="modal-wrapper">
  <div class="modal">
    <div class="head">
      <a class="btn-close trigger" href="javascript:;"></a>
    </div>
    <div class="content">
    	<img src="images/condo_1.jpg">
    </div>
  </div>
</div>
	<div class="row gallery_box submit_form_box">
	<div class="col col-12">
		<ul class="list-unstyled">
			<a href="#/tab/gallery"><li>A</li></a>
			<li class="active">B</li>
			<a href="#/tab/galleryc"><li>C</li></a>
			<li>. . .</li>
			<li>X</li>
			<li>Y</li>
			<li>Z</li>
		</ul>
	</div>		
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		<a class="btn trigger" href="javascript:;">
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</a>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_1.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_3.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_3.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_1.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
	</div>

</div>

<script type="text/javascript">
	$( document ).ready(function() {
  $('.trigger').click(function() {
     $('.modal-wrapper').toggleClass('open');
    $('.page-wrapper').toggleClass('blur');
     return false;
  });
});
</script>
