<div class="container" data-ng-controller="galleryController as ctrl" ng-show="sub.isSet(2)" ng-init="init()">

<div class="row next_prev_row">
		<div class="col col-1">
		<ul class="list-unstyled">
			<li class="active" ng-click="getallcondolist()">All</li>
		</ul>	
	</div>
	<div class="col col-11">
		<ul class="list-unstyled">
	      <li data-ng-click="nextprevcondolist('prev')" ng-if="count != 0" ng-class="{activeprev:count != 0}">Prev</li>
	      <li data-ng-click="#" ng-if="count == 0" ng-class="{deactiveprev:count == 0}" >Prev</li>
	      <li data-ng-click="nextprevcondolist('next')" ng-if="allcondolist.length >= 6" ng-class="{activenext:allcondolist.length >= 6}">Next</li>
	      <li data-ng-click="#" ng-if="!(allcondolist.length >= 6)" ng-class="{deactivenext:!(allcondolist.length >= 6)}" >Next</li>
	    </ul>
	    <ul class="list-unstyled" style="float:right;">
	    	<li><</li>
	    	<li class="active">A</li>
	    	<li>B</li>
	    	<li>C</li>
	    	<li>D</li>
	    	<li>E</li>
	    	<li>F</li>
	    	<li>G</li>
	    	<li>H</li>
	    	<li>I</li>
	    	<li>J</li>
	    	<li>K</li>
	    	<li>L</li>
	    	<li>M</li>
	    	<li>N</li>
	    	<li>O</li>
	    	<li>P</li>
	    	<li>Q</li>
	    	<li>R</li>
	    	<li>S</li>
	    	<li>T</li>
	    	<li>U</li>
	    	<li>V</li>
	    	<li>></li>
	    </ul>
	</div>
</div>
	<div class="row gallery_box submit_form_box" style="border-top: none;border-radius:0px;">		
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail" data-ng-repeat="condo in allcondolist | orderBy:'-image_id'">
			<span  class="share_icon">SHARE</span>
			<span class="vote_icon">VOTE</span>
			<a class="btn trigger" href="javascript:;">
			    <span class="no-tablet no-mobile main_div">
			    	<img data-ng-src="{{condo.condolist.images}}" data-ng-click="getcondoimages(condo);isCollapsed = !isCollapsed" id="open-popup"/>
			    	<div class="padding">
				    	<h4>{{condo.condo_name}} <span style="margin-right: 10px;">98</span></h4>
				    	<h6>{{condo.name}} <span>VOTES</span></h6>
			    	</div>
			    </span>
			    <span class="no-desktop show-tablet no-mobile">9</span>
			    <span class="no-desktop no-tablet show-mobile">1-2</span>
			</a>
		</div>
		<div data-ng-model="nextprevcondolist_conn_msg" ng-show="shownextprevcondolist_conn_msg">{{nextprevcondolist_conn_msg}}</div>
		<div data-ng-model="nextprevcondolist_conn_msg" ng-show="showcondolist_conn_msg">{{nextprevcondolist_conn_msg}}</div>
		<div data-ng-model="connectionmsg" ng-show="showconnectionmsg">{{connectionmsg}}</div>
	</div>
<div class="popup" id="popup">
  <div class="popup__inner">
    <header class="popup__header">
     <img src="images/add.svg" class="popup__close">
    </header>
    <div>
		
		<div slide-source="condoimage in imagesobj" class="slide-viewer" next-arrow-class="slide-next" previous-arrow-class="slide-previous" uib-collapse="isCollapsed">
			<img data-ng-src="{{condoimage}}" />
			<h4 class="slider_indicator"> {{$index+1}} OF {{imagesobj.length}}</h4>
		</div>
		
		</div>
  </div><!-- /popup__inner -->
</div><!-- /popup -->

<script type="text/javascript">

	$(document).ready(function () {
  
  var popup = $("#popup"),
      doc = $(document),
      popClass = "popped",
      showPopup = function (event) {
        popup.fadeIn(200);
        event.preventDefault();
      },
      hidePopup = function (event) {
        popup.hide();
        event.preventDefault();
      };
  
  doc.on("click", "#open-popup", showPopup);
  doc.on("click", ".popup__close", hidePopup);
  
  doc.keypress(function (event) {
    if (event.keyCode === 27) { // esc key
      hidePopup();
    }
  });
  
});
</script>