<div class="container" data-ng-controller="galleryController" ng-init="getallcondolist()">
	<div class="row next_prev_row" style="min-height: 611px;padding: 0px;margin-bottom: 10px;">
		<div class="col col-12">
			<p class="filter_name">Filter list by condo name</p>
			<ul class="list-unstyled">
				<li class="active" ng-click="getallcondolist(0)" style="margin-right:10px;">All</li>
			</ul>
		    <ul class="list-unstyled" >
					<li data-ng-show="nextIndex > 5" data-ng-click="nextIndex = nextIndex - 4; prevIndex = prevIndex - 4;"><</li>
		    	<li data-ng-show="$index < nextIndex && $index >= prevIndex" data-ng-repeat="page in  paginationAlphabetical | orderBy:'id'" data-ng-class="{active:page.status}" data-ng-click="getCondoListAlphabetically(page,0)">{{page.letter}}</li>
					<li data-ng-show="nextIndex < 28" data-ng-click="nextIndex = nextIndex + 5; prevIndex = prevIndex + 5;">></li>
		    </ul>
		</div>
		<div class="clear-fix"></div>
		<div class="row" style="margin: 0px;padding: 0px;">

			<div class="col col-4-desktop col-4-tablet thumbnail" data-ng-repeat="condo in allcondolist | orderBy:'-condo_id' | limitTo: 6">
				<div class="expand" data-ng-click="getcondoimages(condo)" id="open-popup1">
					<img src="images/expand.svg">
				</div>
				<span class="share_icon" data-ng-click="share(condo)">SHARE</span>
				<span class="vote_icon" data-ng-click="vote(condo)">VOTE</span>
				<a class="btn trigger" href="javascript:;">
				    <span class="main_div">
				    	<img data-ng-src="{{condo.condolist.thumb_images}}"/>
				    	<div class="padding">
					    	<div style="margin-right: 45px;">
					    		<div style="position:relative;height: 29px;"><h4 style="bottom: -4px;position: absolute;">{{condo.condo_name}}</h4></div>
					    		<h6 class="user_name_1">{{condo.user_name}}</h6>
					    	</div>
					    	<div class="votes_box">
						    	 <h4 class="gallery_vote_count">{{condo.votes}}</h4>
						    	 <h6 class="user_name_1" style="text-align: center;">VOTES</h6>
					    	</div>
				    	</div>
				    </span>
				</a>
			</div>
			<div data-ng-model="nextprevcondolist_conn_msg" ng-show="shownextprevcondolist_conn_msg"></div>
			<div data-ng-model="condolist_err_msg" ng-show="showcondolist_err_msg"></div>
			<div data-ng-model="connectionmsg" ng-show="showconnectionmsg"></div>
			<div class="clear-fix"></div>
			<ul class="list-unstyled footer_ul" data-ng-if="letter_total_condos > 6 ">
		      <li data-ng-click="nextprevcondolist('prev')" ng-if="count != 0" ng-class="{activeprev:count != 0}">Prev</li>
		      <li ng-if="count == 0" ng-class="{deactiveprev:count == 0}" >Prev</li>
		      <li data-ng-click="getCondoListAlphabeticallyNextPrev('next')" ng-if="allcondolist.length >= 6" ng-class="{activenext:allcondolist.length >= 6}">Next</li>
		      <li ng-if="!(allcondolist.length >= 6)" ng-class="{deactivenext:!(allcondolist.length >= 6)}" >Next</li>
		    </ul>
		    <ul class="list-unstyled footer_ul" data-ng-if="onloadletter_total_condos > 6 ">
		      <li data-ng-click="nextprevcondolist('prev')" ng-if="count != 0" ng-class="{activeprev:count != 0}">Prev</li>

		      <li data-ng-click="nextprevcondolist('next')" ng-if="allcondolist.length >= 6" ng-class="{activenext:allcondolist.length >= 6}">Next</li>
		    </ul>

		</div>
	</div>
	<div class="popup" id="popup-2">
	  <div class="popup__inner">
			<div slide-source="condoimage in condoimagelist" class="slide-viewer" next-arrow-class="slide-next" previous-arrow-class="slide-previous" uib-collapse="isCollapsed">
				<img src="images/add_yellow.svg" class="popup_close_pos" data-ng-click="closePopup()">
				<img data-ng-src="{{condoimage.thumb_images}}" />
				<h4 class="slider_indicator"> {{$index+1}} OF {{condoimagelist.length}}</h4>
			</div>
	  </div><!-- /popup__inner -->
	</div><!-- /popup -->
	<div class="popup" id="popup-1">
	  <div id="thank_you">
	  		<img src="images/add.svg" id="close-popup-2" class="popup_close_pos ng-scope" style="top:0px;">
	  		<img src="images/thank_.png">
	  </div><!-- /popup__inner -->
	</div><!-- /popup -->

	<div class="popup" id="popup-3">
	  <div id="one_man">
	  		<img src="images/add.svg" id="close-popup-3" class="popup_close_pos ng-scope" style="top:0px;">
			<img src="images/one_man.png">
	  </div><!-- /popup__inner -->
	</div><!-- /popup -->

</div>
<div class="clear-fix"></div>

<script type="text/javascript">

	$(document).ready(function () {

  var doc = $(document);

	var popup_1 = $("#popup-1"),
			popup_3 = $("#popup-3"),
      doc_1 = $(document),
      popClass = "popped",
      hidePopup_1 = function (event) {
        popup_1.hide();
        event.preventDefault();
      },
			hidePopup_3 = function (event) {
				popup_3.hide();
				event.preventDefault();
			};

	doc.on("click", "#close-popup-2", hidePopup_1);
	doc.on("click", "#popup-1", hidePopup_1);
	doc.on("click", "#close-popup-3", hidePopup_3);
	doc.on("click", "#popup-3", hidePopup_3);

  doc.keypress(function (event) {
    if (event.keyCode === 27) { // esc key
      hidePopup();
    }
  });

	doc_1.keypress(function (event) {
		if (event.keyCode === 27) { // esc key
			hidePopup_1();
		}
	});

});
</script>
