<div class="container">
	<div class="row gallery_box submit_form_box">
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_1.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_3.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli <span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli<span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli<span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli<span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-4 tablet-col-4 mobile-col-1-2 thumbnail">
			<img src="images/share.png" class="share_icon">
		    <span class="no-tablet no-mobile main_div">
		    	<span class="overlay">
		    	<h1>VOTE NOW</h1>
		    	</span>
		    	<img src="images/condo_2.jpg">
		    	<div class="padding">
			    	<h4>NOVEL MRT <span style="margin-right: 10px;">98</span></h4>
			    	<h6>Nitin Dolli<span>VOTES</span></h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
	</div>

</div>
