<section class="new_homepage" data-ng-controller="homeController" style="text-align:center;">

	<img src="images/home_bg.png" data-ng-click="getUserData()" class="home_bg">
	<img src="images/mobile_home_bg.png" data-ng-click="getUserData()" class="mobile_home_bg">
	<div class="popup" id="popup-4">
		<div class="popup__inner ok-popup">
				<img src="images/add.svg" class="popup_close_pos ng-scope" style="top:0px;" data-ng-click="closePopup()">
			<h4>Error While Fetching the Data</h4>
		</div><!-- /popup__inner -->
	</div><!-- /popup -->

</section>
