<section class="new_homepage">
	<div class="container">
		<div class="row">
			<div class="col col-12" style="position:relative;">
			    <img src="images/home_bg.jpg" style="width:100%;">
			    <div class="banner_contain">
			    	<img src="images/banner_logo.png" class="banner_logo">
			    	<h1>PHOTO CHAMPIONS</h1>
			    	<h5>UPLOAD AND WIN 80SGD EVERY WEEK</h5>
			    </div>
			    <div class="banner_submit_section">
			    		<h2>composition</h2>
			    	<p>
			    		We recognise the effort it takes to create something, much more a piece of art – a house. Hence, we’d like to take a glimpse at and showcase the various parts that your popety is composed of. 
			    	</p>
			    	<p>
						To participate, all you have to do is Like our Facebook page and submit your photos!
					</p>
					<p>
						All entries will be featured in our gallery, and winners will be selected based on votes, so remember to rope your friends in to vote for you too.

			    	</p>
			    	<p>
			    		There will be ONE winner for each condominium. A picture is worth a thousand words… Or in this case, 4 of them are worth $80. Winners will receive a cash prize of S$80 and a chance to be featured in our App!
			    	</p>
			    	<p>
						It’s so simple and what better way to show off that new paint job and if not, how beautiful your popety already is?
			    	</p>
			  	</div>
			    <div class="banner_submit_section">
			    	<a href="#/tab/submit"><input type="submit" value="SUBMIT" class="button submit_btn"></a>
			    	<h6>CLICK SUBMIT TO to take part now.</h6>
			  	</div>
			</div>
		</div>
	</div>
</section>
