<section class="new_homepage" data-ng-controller="homeController">
	<div class="container">
		<div class="row">
			<div class="col col-12" style="position:relative;text-align: center;">
			    <img src="images/home_bg.jpg">
			    <!-- <div class="banner_contain">
			    	<img src="images/banner_logo.png" class="banner_logo">
			    	<h1>PHOTO CHAMPIONS</h1>
			    	<p></p>
			    </div> -->
			    <div class="banner_submit_section">
			    	<a href="#/tab/submit"><input type="submit" value="SUBMIT" class="button submit_btn"></a>
			    	<!-- <h6>CLICK SUBMIT TO to take part now.</h6> -->
			  	</div>
			</div>
		</div>
	</div>
</section>
