<html>
<header>
  <script>
  /**
  * See: https://gist.github.com/1847816
  * Parse a URI, returning an object similar to Location
  * Usage: var uri = parseUri("hello?search#hash")
  */
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }
  var imgsrc = getParameterByName(name);
  document.getElementById('image').src = imgsrc;
  </script>
</header>
<body>
  <img id="image" src=""/>
</body>
</html>
