<div class="container">
  <div class="row submit_form_box">
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="padding: 20px 60px;">
      <span class="no-tablet no-mobile">
        <form action="" method="get" class="submit_form">
          <fieldset>
            <!-- Input[type=text] -->
            <div class="col col-12">
              <label for="name" class="user_name">Harold C. French</label>
            </div>
            <div class="col col-12">
              <label for="name"><img src="images/mobile_number.png" class="input_icon">
                <input type="text" id="name" cols="100" placeholder="MOBILE NUMBER">
                <span class="notifications">Required for communicating winner</span>
              </label>
            </div>
            <div class="col col-12">
              <label for="name"><img src="images/condo_name.png" class="input_icon">
                <input type="text" id="name" placeholder="CONDO NAME">
              </label>
            </div>
            <div class="col col-12">
              <label for="name"><img src="images/floor.png" class="input_icon">
                <select id="styledSelect1">
                  <option>BEDROOM</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </label>
            </div>
            <div class="col col-12">
              <input type="file">
            </div>
            <div class="col col-12">
              <span class="checkbox">
                <label for="checkbox-example">I accept the Terms & Conditions</label>
                <input id="checkbox-example" type="checkbox">
              </span>
            </div>
            <div class="col col-12">
              <input type="submit" value="SUBMIT" class="button" id="form_submit">
            </div>
            <!-- Submit Button -->

          </fieldset>
        </form>
      </span>
      <span class="no-desktop show-tablet no-mobile">9</span>
      <span class="no-desktop no-tablet show-mobile">1-2</span>
    </div>
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="margin: -15px;position:relative;width: 53%;">
      <img src="images/sumbit_left_img.png" class="left_submit">
      <div class="rules">
        <div class="col col-12 simple_rules">
          <h3>simple rules to win</h3>
          <h1>SGD 80</h1>
        </div>
        <ul>
          <li>
            You have to submit minimum
            <b>2 interior and minimum 2 exterior</b>
            photos
          </li>
          <li>
            All the photos are to be submitted without any watermark
          </li>
          <li>
            All images MUST be original. No stock images are allowed.
          </li>
          <li>
            All entries must be in either jpeg. format.
          </li>
          <li>
            Images submitted must be in full colour, black and white images submitted will be disqualified.
          </li>
          <li>
            Images should not contain any people, or animals.
          </li>
        </ul>
      </div>
    </div>
  </div>
