<div class="container">
  <div class="row submit_form_box">
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="margin: -15px;">
        <img src="images/sumbit_left_img.png" class="left_submit">
    </div>
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="padding: 20px 60px;">
        <span class="no-tablet no-mobile">
          <form action="" method="get" class="submit_form">
          <fieldset>
              <!-- Input[type=text] -->
              <div class="col col-12">
                <label for="name" class="user_name">Harold C. French</label>
              </div>
              <div class="col col-12">
                <label for="name"><img src="images/mobile_number.png" class="input_icon">
                <input type="text" id="name" cols="100" placeholder="MOBILE NUMBER">
                </label>
              </div>
              <div class="col col-12">
                <label for="name"><img src="images/condo_name.png" class="input_icon">
                <input type="text" id="name" cols="100" placeholder="CONDO NAME">
                </label>
              </div>
              <div class="col col-12">
                <label for="name"><img src="images/unit_type.png" class="input_icon">
                <input type="text" id="name" cols="100" placeholder="UNIT TYPE">
                </label>
              </div>
              <div class="col col-12">
                <label>
                  <img src="images/upload_image.png" class="input_icon" style="top: -66px;">
                  <input type="file" />
                </label>
              </div>
              <div class="col col-12">
                <span class="checkbox">
                <label for="checkbox-example">I accept the Terms & Conditions</label>
                <input id="checkbox-example" type="checkbox">
              </span>
              </div>
              <div class="col col-12">
                <input type="submit" value="SUBMIT" class="button" id="form_submit">
              </div>
              <!-- Submit Button -->

          </fieldset>
        </form>
        </span>
        <span class="no-desktop show-tablet no-mobile">9</span>
        <span class="no-desktop no-tablet show-mobile">1-2</span>
    </div>
  </div>
</div>
