<div class="container" data-ng-controller="submitController" ng-show="sub.isSet(1)">
  <div class="row submit_form_box">
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="padding: 20px 60px;">
      <span class="no-tablet no-mobile">
        <form name="condosubmitform" class="submit_form" ng-submit="condosubmit(condodata,condosubmitform.$valid)" id="condofrm" novalidate>
          <fieldset>
            <!-- Input[type=text] -->
            <div class="col col-12">
              <label for="name" class="user_name">Harold C. French</label>
            </div>
            <div class="col col-12">
              <label for="name"><img src="images/mobile_number.png" class="input_icon">
                <input name="mobileno" type="text" id="name" cols="100" placeholder="MOBILE NUMBER" data-ng-model="condodata.mobile_no" ng-minlength="8" ng-maxlength="10" required>
                <span class="notifications">Winners will be notified via text</span>
                </label>
                <div data-ng-messages="condosubmitform.$submitted && condosubmitform.mobileno.$error" role="alert">
                    <div data-ng-message="required">Please Enter Mobile Number</div>
                </div>
                <div ng-messages="condosubmitform.$submitted && condosubmitform.mobileno.$error " role="alert">
                  <div ng-message="maxlength" class="help-block">Enter Mobile Number Upto 10 Digit</div>
                  <div ng-message="minlength" class="help-block">Enter mobile Number Min 8 Digit</div>
                </div>
              </div>
              <div class="col col-12">
                <label for="name"><img src="images/condo_name.png" class="input_icon">
                <div mass-autocomplete>
                  <input mass-autocomplete-item="ac_options_condos" name="condoname" type="text" id="name" cols="100" placeholder="CONDO NAME" data-ng-model="condodata.condo_name" required>
                </div>
                </label>
                <div data-ng-messages="condosubmitform.$submitted && condosubmitform.condoname.$error" role="alert">
                    <div data-ng-message="required">Please Enter Condo Name</div>
                </div>
              </div>
              <div class="col col-12">
                <label for="name"><img src="images/floor.png" class="input_icon">
                  <select name="mySelect" id="mySelect"
                  ng-options="option.name for option in bedroomdata.availableOptions track by option.id"
                  ng-model="bedroomdata.selectedOption"></select>
                </label>
                <div data-ng-messages="condosubmitform.$submitted && condosubmitform.bedroom_number.$error" role="alert">
                    <div data-ng-message="required">Please Select Bedroom</div>
                </div>
              </div>
              <div class="col col-12" style="position:relative;">
                  <img src="images/add.svg" class="add_icon">
                  <input type="file" id="file_browse1" onchange="angular.element(this).scope().updateattachment('file_browse1');" accept=".jpeg" multiple/>
              </div>
              <div class="col col-12">
                <span class="checkbox">
              </label>
            </div>
            <div class="col col-12">
              <span class="checkbox">
                <label for="checkbox-example">I accept the Terms & Conditions</label>
                <input name="terms" id="checkbox-example" type="checkbox" data-ng-model="condodata.Conditions" check-required >
                  <div ng-messages="condosubmitform.$submitted && condosubmitform.terms.$error">
                    <p ng-message="checkRequired">You Have Not Accepted The Terms And Conditions</p>
                  </div>
              </span>
            </div>
            <div class="col col-12">
              <button type="submit" value="SUBMIT" class="button" id="form_submit">Submit</button> 
              <div data-ng-model="condosuccessmsg" ng-show="showcondosuccessmsg">{{condosuccessmsg}}</div>
              <div data-ng-model="imagelimitmsg" ng-show="showimagelimitmsg">{{imagelimitmsg}}</div>
              <div data-ng-model="filenotsupportmsg" ng-show="showfilenotsupportmsg">{{filenotsupportmsg}}</div>
            </div>
            <!-- Submit Button -->

          </fieldset>
        </form>
      </span>
      <span class="no-desktop show-tablet no-mobile">9</span>
      <span class="no-desktop no-tablet show-mobile">1-2</span>
    </div>
    <div class="col col-6 tablet-col-4 mobile-col-1-2" style="margin: -15px;position:relative;width: 53%;">
      <img src="images/sumbit_left_img.png" class="left_submit">
      <div class="rules">
        <div class="col col-12 simple_rules">
          <h3>simple rules to win</h3>
          <h1>SGD 80</h1>
        </div>
        <ul>
          <li>
            You have to submit minimum
            <b>2 interior and minimum 2 exterior</b>
            photos
          </li>
          <li>
            All the photos are to be submitted without any watermark
          </li>
          <li>
            All images MUST be original(royalty free). No stock images are allowed.
          </li>
          <li>
            All entries must be in .jpeg format.
          </li>
          <li>
            Images submitted must be in full color.
          </li>
          <li>
            Images must not contain any people or animals.
          </li>
          <li>Entries must be based on the list of condominium list given .(Option to download excel/pdf of condo names in the database)</li>
        </ul>
      </div>
    </div>
  </div>
