<div>
<section class="new_homepage">
<div class="clear-fix"></div>
	<div class="container">

		<ul class="header_ul">
			<li ui-sref-active="active" ui-sref="tab.submit"><a href="#"><span><img src="images/submit_icon.png"></span>SUBMIT</a></li>
			<li ui-sref-active="active" ui-sref="tab.gallery"><a href="#"><span><img src="images/gallery_icon.png"></span>GALLERY</a></li>
			<li ui-sref-active="active" ui-sref="tab.winners"><a href="#"><span><img src="images/winner_icon.png"></span>WINNERS</a></li>
		</ul>
	</div>
</section>
<div class="clear-fix"></div>
<section class="sumbit_new" ui-view>
</section>
</div>
