<div data-ng-controller="submitController as sub">
<section class="new_homepage">
<div class="clear-fix"></div>
	<div class="container">
		<ul class="header_ul">
			<li ng-class="{active:sub.isSet(1)}" ui-sref-active="active" ui-sref=".submit" ng-click="sub.setTab(1)"><a href="#"><span><img src="images/submit_icon.png"></span>SUBMIT</a></li>
			<li ng-class="{active:sub.isSet(2)}" ui-sref-active="active" ui-sref=".gallery({active:sub.isSet(2)})" ng-click="sub.setTab(2)"><a href="#" ><span><img src="images/gallery_icon.png"></span>GALLERY</a></li>
			<li ng-class="{active:sub.isSet(3)}" ui-sref-active="active" ui-sref=".winners" ng-click="sub.setTab(3)"><a href="#"><span><img src="images/winner_icon.png"></span>WINNERS</a></li>
		</ul>
	</div>
</section>
<div class="clear-fix"></div>
<section class="sumbit_new" ui-view>
</section>
</div>