<div class="container" data-ng-controller="submitController" style="margin-top:10%">
  <div class="row submit_form_box">
    <div class="col col-12" style="padding: 20px 60px 0;">
       <h2>TERMS & CONDITIONS</h2> 
       <img src="images/add.svg" class="close_icon">
       <ul class="list-unordered">
          <li>All entries must be individual, group/corporate entries are not allowed.</li>
          <li>Duplicated images will be removed from entries.</li>
          <li>
            Basic editing (brightness, contrast, filters, etc.) is allowed. Excessive digital manipulation that distorts the reality of the image is not allowed.  
          </li>
          <li>
            Judging criteria
            <ul class="list-unordered: circle;"> 
              <li>
                The winner will be determined by the highest number of votes he/she receives for his/her album/entry.
              </li>
              <li>Voting is only allowed ONCE per condominium. </li>
              <li>There will be only 1 winner per condominium.   </li>
              <li>Participants can enter as many entries as they wish to.</li>
              <li>After the 5th entry for that specific condominium has been submitted, participants have one week to gather as many votes as possible and the winner will be declared on every Friday throughout the duration of the contest.</li>
              <li>If the Organiser suspects the votes for a participant has been tampered with, the Organiser reserves the right to disqualify the participant.</li>
            </ul>
          </li>
          <li>
            Winners
            <ul class="list-unordered: circle;"> 
              <li>Each winner will get SGD$150 as a prize money</li>
              <li>Winners will be announced within one week after results have been declared.</li>
              <li>Winners will be notified via text.</li>
              <li>Only the first <b>100</b> winners will be eligible for the prize money. </li>
              <li>Prize(s) are given in the form of cheque, unless otherwise stated. </li>
              <li>All prizes shall be given out 2 weeks after each winner is selected. Where prizes are unclaimed, the Organiser reserves the right to select an alternative winner. </li>
            </ul>
          </li>
          <li>
            Copyright 
            <ul class="list-unordered: circle;"> 
              <li>By entering the competition, the participant acknowledges and warrants that the submitted entry is an original work solely by the entrant, that the entry does not infringe on the copyrights, trademarks, moral rights, rights of privacy / publicity or intellectual property rights of any person or entity, and that no other party has any right, title, claim or interest in the entry.</li>
              <li>The participant grants the Organiser a royalty-free, transferable right to use, reproduce, edit or distribute any materials submitted for the competition in any media format and channels as deemed fit, for the purposes of promoting the competition or the causes that the Organiser stands for.</li>
              <li>Entries that do not fulfill the above criteria will be deemed ineligible and will be disqualified.</li>
            </ul>
          </li>
          <li>
            Organiser’s Rights
            <ul class="list-unordered: circle;"> 
              <li>The Organiser reserves the right to use, reproduce, edit and distribute any materials submitted for this competition for the purpose of any announcement or promotional, marketing or publicity in any media format and channels without obtaining further prior permission and payment of any fees to the photographer.  </li>
              <li>The Organiser reserves the right to disqualify and withhold prizes for entrants violating any of these rules and regulations. </li>
              <li>The Organiser reserves the right, as its sole discretion, to modify and/or cancel the competition. </li>
              <li>The Organiser reserves the right to revise these Terms and Conditions at any time without prior notice being given.</li>
            </ul>
          </li>
          <li>
           Liability
            <ul class="list-unordered: circle;"> 
              <li>The entrant accepts all risks of personal injury or property damage of any nature whatsoever that may arise from his/her making or creation of the entry or participation in this competition and will not in any way hold the organizer responsible for any liability, loss, damage, expense and cost which he/she may sustain or incur as a result of his/her participation, except for liability which cannot be excluded by law.</li>
              <li>The entrant hereby agrees to fully indemnify to the organizer and its officer, employees and agents for any potential violation of breech towards third party confidentiality, patent, copyright or any other intellectual property rights in the photographs submitted.</li>
            </ul>
          </li>
       </ul>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>
