<div class="container" data-ng-controller="submitController" ng-show="sub.isSet(3)">
	<div class="row gallery_box submit_form_box">
		<div class="col col-6 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_1.jpg">
		    	<img src="images/1.jpg" class="winner_profile">
		    	<div class="padding">
		    		<span style="margin-right: 10px;"><img src="images/winner.png" style="height:auto;    margin-top: 8px;"></span>
			    	<h4 style="margin-top: 20px;">NOVEL MRT</h4>
			    	<h6>Nitin Dolli </h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-6 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_3.jpg">
		    	<img src="images/1.jpg" class="winner_profile">
		    	<div class="padding">
		    		<span style="margin-right: 10px;"><img src="images/winner.png" style="height:auto;    margin-top: 8px;"></span>
			    	<h4 style="margin-top: 20px;">NOVEL MRT</h4>
			    	<h6>Nitin Dolli </h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-6 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_3.jpg">
		    	<img src="images/1.jpg" class="winner_profile">
		    	<div class="padding">
		    		<span style="margin-right: 10px;"><img src="images/winner.png" style="height:auto;    margin-top: 8px;"></span>
			    	<h4 style="margin-top: 20px;">NOVEL MRT</h4>
			    	<h6>Nitin Dolli </h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
		<div class="col col-6 tablet-col-4 mobile-col-1-2 thumbnail">
			<span  class="share_icon">SHARE</span>
		    <span class="no-tablet no-mobile main_div">
		    	<img src="images/condo_2.jpg">
		    	<img src="images/1.jpg" class="winner_profile">
		    	<div class="padding">
		    		<span style="margin-right: 10px;"><img src="images/winner.png" style="height:auto;    margin-top: 8px;"></span>
			    	<h4 style="margin-top: 20px;">NOVEL MRT</h4>
			    	<h6>Nitin Dolli </h6>
		    	</div>
		    </span>
		    <span class="no-desktop show-tablet no-mobile">9</span>
		    <span class="no-desktop no-tablet show-mobile">1-2</span>
		</div>
	</div>

</div>
